<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.recycle.mapper.CartMapper">

    <select id="selectCart" resultType="com.wechat.recycle.dto.CartDTO">
        select res_detail.`name`, res_detail.`price`, res_detail.unit, cart.id,cart.waste_id,cart.count,cart.money
        from cart,res_detail
        where cart.waste_id = res_detail.id
        and cart.open_id = #{openId,jdbcType=VARCHAR}
        and cart.del_flag != "0"
    </select>

    <insert id="addToCart" parameterType="com.wechat.recycle.entity.Cart" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            waste_id, open_id, `count`, money,
            del_flag, create_time, update_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{wasteId,jdbcType=INTEGER},
            #{openId,jdbcType=VARCHAR},
            #{count,jdbcType=DOUBLE},
            #{money,jdbcType=DOUBLE},
            "1",NOW(),NOW()
        </trim>
    </insert>

    <update id="deleteOne">
        UPDATE cart
        <set>
            del_flag = "0",
            update_time = NOW()
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteSome" parameterType="java.util.List">
        UPDATE cart
        <set>
            del_flag = "0",
            update_time = NOW()
        </set>
        WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>