<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.recycle.mapper.OrderMapper">

    <select id="selectOne" resultType="com.wechat.recycle.dto.OrderDTO">
      select `order`.*, address.real_name, address.mobile, address.address from `order`, address where `order`.id = #{id} and `order`.address_id = address.id
    </select>

    <select id="selectOrders" resultType="com.wechat.recycle.entity.Order">
      select * from `order` where cit_id = #{openId} and del_flag != "0" order by order_time desc
    </select>

    <insert id="addOrder" parameterType="com.wechat.recycle.entity.Order" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id, rec_id, cit_id, money, order_state, order_time, address_id, remarks,
            del_flag, create_time, update_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{orderId,jdbcType=VARCHAR},
            #{recId,jdbcType=VARCHAR},
            #{citId,jdbcType=VARCHAR},
            #{money,jdbcType=DOUBLE},
            #{orderState},
            NOW(),
            #{addressId,jdbcType=INTEGER},
            #{remarks,jdbcType=VARCHAR},
            "1",NOW(),NOW()
        </trim>
    </insert>

    <insert id="addOrderType" parameterType="com.wechat.recycle.entity.OrderType" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        INSERT INTO `order_type`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id, waste_id, `count`
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{orderId,jdbcType=VARCHAR},
            #{wasteId,jdbcType=INTEGER},
            #{count,jdbcType=DOUBLE},
        </trim>
    </insert>

    <select id="selectTypes" resultType="com.wechat.recycle.dto.OrderTypeDTO">
      select order_type.*, res_detail.name, res_detail.unit from order_type, res_detail where order_type.order_id = #{orderId} and order_type.waste_id = res_detail.id
    </select>

    <update id="deleteOne">
        UPDATE `order`
        <set>
            del_flag = "0",
            update_time = NOW()
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getMinOrders" resultType="com.wechat.recycle.dto.OrderDTO">
        SELECT *, 6378.137 * 2 * ASIN(SQRT(POW(SIN((#{latitude,jdbcType=DOUBLE}*PI()/180-latitude*PI()/180)/2),2)+COS(#{latitude,jdbcType=DOUBLE}*PI()/180)*COS(latitude*PI()/180)*POW(SIN((#{longitude,jdbcType=DOUBLE}*PI()/180-longitude*PI()/180)/2),2)))
         AS distance
         FROM Address
         WHERE del_flag = "2"
         ORDER BY distance ASC limit 1
    </select>

</mapper>