<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.recycle.mapper.UserMapper">

    <select id="selectOne" resultType="com.wechat.recycle.entity.User">
        select * from `user` where id = #{id}
    </select>

    <select id="selectByOpenid" resultType="com.wechat.recycle.entity.User">
        select id,email,nick_name,address_id,avatar_url,role_type from `user` where open_id = #{openId}
    </select>

    <select id="selectAllUser" resultType="com.wechat.recycle.entity.User">
        select id,email,nick_name,address_id,avatar_url,role_type from `user` where nick_name like CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    </select>

    <update id="updateUser" parameterType="com.wechat.recycle.entity.User">
        update `user`
        <trim prefix="set" suffixOverrides=",">
            <if test="email != null">email = #{email},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            update_time = NOW()
        </trim>
        where open_id = #{openId}
    </update>

    <update id="updateUserAddress">
        update `user`
        <trim prefix="set" suffixOverrides=",">
            <if test="addressId != null">address_id = #{addressId},</if>
            update_time = NOW()
        </trim>
        where open_id = #{openId}
    </update>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.wechat.recycle.entity.User">
        insert into `user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            open_id,nick_name,avatar_url
        </trim>
        values (#{openId},#{nickName},#{avatarUrl})
    </insert>

    <select id="selectAdmin" resultType="com.wechat.recycle.entity.Admin">
        select * from admin where mobile = #{mobile}
    </select>

    <select id="selectAllAdmin" resultType="com.wechat.recycle.entity.Admin">
        select * from admin where del_flag != "0" and userame like CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    </select>

    <insert id="addAdmin" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.wechat.recycle.entity.Admin">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            mobile,email,username,password
        </trim>
        values (#{mobile},#{email},#{username},#{password})
    </insert>

    <update id="deleteOne">
        UPDATE admin
        <set>
            del_flag = "0",
            update_time = NOW()
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>